.wrapper {
  position: relative;
  margin-bottom: 100px;
  background-color: white;
  font-size: 1rem;
  padding: 1rem;
  max-width: $tablet;
  min-height: 100vh;
  margin: 0 auto;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;

  @media #{$mq_desktop} {
    height: 30vh;
  }
}
