body {
  color: black;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: sans-serif; }

h1 {
  font-size: 2rem; }

h3 {
  font-size: 1.2rem; }

table {
  border-collapse: collapse;
  width: 90%;
  max-width: 900px; }

@media (max-width: 762px) {
  table {
    width: 95%; } }

td {
  border: 1px solid #333;
  padding: 10px;
  margin: 0; }

tr {
  margin: 0; }

tr:hover {
  cursor: pointer; }

.wrapper {
  position: relative;
  margin-bottom: 100px;
  background-color: white;
  font-size: 1rem;
  padding: 1rem;
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto; }

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh; }

@media screen and (min-width: 992px) {
  #home {
    height: 30vh; } }

.visible {
  display: block !important; }

.invisible {
  display: none !important; }

.divider {
  height: 1px;
  background-color: none; }

@media screen and (min-width: 992px) {
  .divider {
    background-color: black; } }

.gg-add {
  --ggs: 1;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 22px;
  color: rgba(0, 0, 0, 0.5); }

.gg-add::after,
.gg-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px; }

.gg-add::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px; }

.gg-home {
  --ggs: 1;
  background: linear-gradient(to left, currentColor 5px, transparent 0) no-repeat 0 bottom/4px 2px, linear-gradient(to left, currentColor 5px, transparent 0) no-repeat right bottom/4px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-bottom: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -2px; }

.gg-home::after,
.gg-home::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute; }

.gg-home::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0; }

.gg-home::after {
  width: 8px;
  height: 10px;
  border: 2px solid;
  border-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  left: 3px;
  bottom: 0; }

.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px; }

.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px; }

.gg-close::after {
  transform: rotate(-45deg); }

.gg-info {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px; }

.gg-info::after,
.gg-info::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px; }

.gg-info::after {
  bottom: 2px;
  height: 8px; }

.gg-info::before {
  height: 2px;
  top: 2px; }

.header {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  height: 5rem;
  /* padding: 2rem 4rem 2rem 8rem; */ }

.header__title {
  margin-left: 2rem; }

.header__home {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white; }

#subheader {
  text-align: center; }

.header {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  height: 5rem;
  /* padding: 2rem 4rem 2rem 8rem; */ }

.header__title {
  margin-left: 2rem; }

.header__home {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white; }

#subheader {
  text-align: center; }

.icon--plus {
  background-color: rgba(0, 0, 0, 0);
  outline: 0; }

.button--primary {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem; }

#submit {
  text-decoration: none;
  color: black; }

.route-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.account {
  padding: 1rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative; }

.account:nth-child(2n) {
  background-color: lightblue; }

.account__check {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  border-radius: 10px; }

.account__address {
  flex-basis: 1;
  flex-grow: 1; }

.account__details {
  width: 100%;
  display: none;
  padding: 0;
  margin-top: 1rem; }

.account__details__item {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0; }

.notification {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 0, 0, 0.4);
  font-size: 0.8rem;
  color: white;
  text-align: center;
  max-width: 576px;
  margin: 0.5rem auto; }

.notification__text {
  flex: 1; }

.fsr-search {
  height: 2rem;
  width: 10rem;
  font-size: 2rem; }

/* @media 576px {
} */
