extends layout.pug

block content
    p Sorry, can't find that FSR. Please make sure you have typed your FSR correctly.
    p It is possible that your route has not yet been uploaded. Please contact the dispatcher.
    a(href=locals.app) Go back. 