extends layout.pug

block content
    div#home
        h3 Please enter your FSR:
        form
            input(type="text" id="FSR" name="FSR" required)
            label(for="FSR")
        button.button--primary
            a(href=locals.app)#submit Route My List

block scripts
    script(src='/js/index.js')