//- @prettier
//- @prettier
extends layout.pug

block content
	#home
		h3 Please enter your FSR:
		form
			input#FSR.fsr-search(type='text', name='FSR', required)
			label(for='FSR')
		//h3 Or, Select from List:
		//div.fsr-list
			ul
			    each tech in locals.techs
			        li #{tech}
		button.button--primary
			a#submit(href=locals.app, data-endpoint=locals.app) Route My List

block scripts
	script(src='/js/index.js')
