doctype html
html(lang="en")
    head
        link(rel='stylesheet' type='text/css' href="/css/style.css")/
        link(href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet")/
        title= RoboRouter
    body
        header
            h1 RoboRouter
        div.wrapper
            block content
            block scripts
    footer
        div.progress-bar