doctype html
html(lang="en")
    head
        link(rel='stylesheet' type='text/css' href="/css/style.css")/
        link(href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet")/
        title= RoboRouter
    body
        div.wrapper
            h1 RoboRouter
            block content
            block scripts
    footer
        p
            span &copy;
            span= ` Andrew Lamansky ${new Date().getFullYear()}`
        p.sneaky Tell Derrid to give me a raise.